/* You can add global styles to this file, and also import other style files */
body {
  max-width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

[hidden] {
  display: none;
}
