<loa-mobile-back-bar
  [title]="'AUTH.LOGIN.forgot_password' | translate"
  backTo="/auth/choose-user-type"
></loa-mobile-back-bar>

<ion-content class="container-fluid overflow-hidden">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div class="d-flex flex-column text-center h-100">
      <mat-form-field class="mb-2">
        <mat-label>{{ 'AUTH.FORGOT_PASSWORD.email' | translate }}</mat-label>
        <input matInput class="text-lowercase" formControlName="email" />
        <mat-error *ngIf="formGroup.get('email').hasError">
          {{ getErrorMessageForgotPassword('email') | translate }}
        </mat-error>
      </mat-form-field>
      <ion-button fill="solid" color="secondary" type="submit" class="mt-1">
        {{ 'AUTH.FORGOT_PASSWORD.send_reset_code' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
