<div class="alert">
  <img src="assets/react-logo.png" alt="React logo" width="50" />
  <p>
    Check out the React implementation here
    <a
      href="https://reactrintodolist.netlify.app/"
      target="_blank"
      rel="noopener noreferrer"
    >
      https://reactrintodolist.netlify.app/
    </a>
  </p>
</div>

<h2>
  Todo List -
  <a href="https://github.com/thanhhoa214/learning/tree/main/todolist"
    >Github</a
  >
</h2>

<input
  type="text"
  placeholder="Search"
  [value]="search()"
  (input)="onChangeSearch($event.target)"
/>

<ul>
  <li *ngFor="let todo of filteredTodos()">
    <span
      class="custom-radio"
      [class.selected]="todo.status === 'completed'"
      (click)="inputRef.value !== '' ? updateTodoStatus(todo.id) : null"
    >
      <span>v</span>
    </span>
    <input
      #inputRef
      [value]="todo.text"
      class="editting-input"
      (click)="editTodo(todo.id)"
      (blur)="cancelEditting(inputRef)"
      (keydown.enter)="updateTodo(inputRef.value, inputRef)"
      (keydown.esc)="cancelEditting(inputRef)"
      (keydown.backspace)="inputRef.value === '' ? deleteTodo(todo.id) : null"
    />
  </li>

  <li *ngIf="inputtingMode">
    <span class="custom-radio"></span>
    <input
      type="text"
      [(ngModel)]="inputValue"
      autofocus
      (keydown.enter)="addTodo(inputValue)"
    />
  </li>
</ul>
