<div class="container mt-2">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-8 col-lg-6">
        <!-- Form -->
        <form class="form" action="" method="post">
          <h1>Create Screen</h1>
          <!-- screen name  -->
          <div class="form-group">
            <label for="screen-name">Name</label>
            <input
              type="text"
              class="form-control"
              id="screen-name"
              placeholder="Fill your screen name"
              name="screen-name"
            />
          </div>
          <!-- End screen name  -->

           <!-- Store name  -->
           <div class="form-group">
            <label for="template-name">Template Name</label>
            <input
              type="text"
              class="form-control"
              id="template-name"
              placeholder="Template Name - ID"
              name="template-name"
            />
          </div>
          <!-- End Srore name  -->

          <!-- Store name  -->
          <div class="form-group">
            <label for="store-name">Store Name</label>
            <input
              type="text"
              class="form-control"
              id="store-name"
              placeholder="Store Name - ID"
              name="store-name"
            />
          </div>
          <!-- End Srore name  -->
  

          <!-- Description -->
          <div class="form-group">
            <label for="screen-des">Description</label>
            <textarea class="form-control" id="screen-des" rows="3"></textarea>
          </div>
          <!-- End Description -->
          
          <!-- Is Available -->
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="is-available">
            <label class="form-check-label" for="is-available">Is Available Now</label>
          </div>
          <!-- End Available -->
  
          <button type="submit" class="btn btn-primary btn-block">Create</button>
          <button type="" class="btn btn-secondary btn-block">&lt;</button>
        </form>
      </div>
    </div>
  </div>