<loa-mobile-back-bar [title]="'AUTH.change_password' | translate"></loa-mobile-back-bar>
<ion-content class="container-fluid">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div class="d-flex flex-column text-center h-100">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" autocomplete="email" class="text-lowercase" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'AUTH.CHANGE_PASSWORD.new_password' | translate }}</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="formGroup.get('password').hasError" class="mt-n1">
          {{ getErrorMessage('password') | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'AUTH.CHANGE_PASSWORD.confirm_password' | translate }}</mat-label>
        <input type="password" matInput formControlName="confirmPassword" />
        <mat-error *ngIf="formGroup.get('confirmPassword').hasError" class="mt-n1">
          {{ getErrorMessage('confirmPassword') | translate }}
        </mat-error>
      </mat-form-field>
      <div class="w-100">
        <ion-button fill="solid" color="secondary" class="mt-1" expand="block" type="submit">
          {{ 'AUTH.change' | translate }}
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
