<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909119824544-8ogcoa38fkmalee77357hpq2c2r499sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909119824544-8ogcoa38fkmalee77357hpq2c2r499sj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909119824544-4ob6vsi1o71ikli9nn3r569259efv124.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAplOEN_d6fPSOnHkWvuPAeZ29ZN_4SOFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>909119824544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abc.platform</string>
	<key>PROJECT_ID</key>
	<string>loa-mobile-2243b</string>
	<key>STORAGE_BUCKET</key>
	<string>loa-mobile-2243b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909119824544:ios:12b8ecaf46bceee95bdfc5</string>
</dict>
</plist>
