ion-tab-bar {
  border-bottom: 0 !important;
  padding: 0px 16px 8px 16px;
}
:host .tab-selected {
  background-color: #8d8d8d !important;
  color: #ffffff !important;
}
ion-tab-button.write-tab {
  border-radius: 4px 0 0 4px;
  border: solid #c7c4c2;
  z-index: 100;
  border-width: 1px 0 1px 1px;
}
ion-tab-button.review-tab {
  border-radius: 0 4px 4px 0;
  border: solid #c7c4c2;
  z-index: 100;
  border-width: 1px 1px 1px 0;
}
