<loa-mobile-back-bar
  [fullWidth]="true"
  [title]="'MENU.construction_management' | translate"
>
</loa-mobile-back-bar>
<ion-content>
  <p class="text-center mt-4">
    <ion-text color="secondary">
      <span
        [innerHTML]="
          'MENU.CONSTRUCTION_MANAGEMENT.you_are_logged_in' | translate
        "
      ></span
    ></ion-text>
  </p>
  <p class="text-center mt-4">
    <ion-text color="secondary">
      <span
        [innerHTML]="
          'MENU.CONSTRUCTION_MANAGEMENT.for_managing_your_com' | translate
        "
      ></span
    ></ion-text>
  </p>
  <ion-button
    fill="solid"
    color="secondary"
    expand="block"
    class="mt-5"
    (click)="copyLink()"
  >
    <b>{{ adminUrl }}</b>
  </ion-button>
</ion-content>
