<div class="text-center">
  <h5 class="text-center">
    <b>Did you have an account yet?</b>
  </h5>
  <p class="d-flex flex-column justify-content-center w-75 mx-auto">
    <small>
      Open more features with your role.
    </small>
  </p>
  <ion-button
    fill="solid"
    color="primary"
    class="mt-1"
    expand="block"
    routerLink="/auth/login"
  >
    Login
  </ion-button>
  <ion-button fill="clear" color="primary" class="mt-1" expand="block">
    May be later
  </ion-button>
</div>
