<h6 class="my-0">
  <b>028 7300 2091</b>
</h6>
<div class="time">{{ 'HOME.INFORMATION.time' | translate }}</div>

<div class="my-3 company">
  <div>
    <b>{{ 'HOME.INFORMATION.company' | translate }}:</b>
    {{ 'HOME.INFORMATION.abc' | translate }}
  </div>
  <div>
    <b>{{ 'HOME.INFORMATION.email' | translate }}:</b>
    customer@abc.com ({{ 'HOME.INFORMATION.customer&partner' | translate }})
  </div>
  <div>
    <b>{{ 'HOME.INFORMATION.ceo' | translate }}:</b>
    {{ 'HOME.INFORMATION.ceo_name' | translate }}
  </div>
  <div>
    <b>{{ 'HOME.INFORMATION.business_regis' | translate }}:</b> 0316070412
  </div>
  <div>
    <b>{{ 'HOME.INFORMATION.address' | translate }}:</b>
    {{ 'HOME.INFORMATION.address_detail' | translate }}
  </div>
  <div [innerHTML]="'HOME.INFORMATION.payment_service' | translate"></div>
</div>

<div>
  <span [innerHTML]="'HOME.INFORMATION.bank_account' | translate"></span>
</div>
<div class="patent-application">
  <b>{{ 'HOME.INFORMATION.patent_application' | translate }}</b>
</div>
<div class="copyright">
  <b>{{ 'HOME.INFORMATION.copyright' | translate }}</b>
</div>
