<loa-mobile-back-bar
  [title]="'PROFILE.change_password' | translate"
  backTo="/menu"
></loa-mobile-back-bar>

<ion-content class="container-fluid">
  <form (ngSubmit)="onSubmit()" class="form d-flex flex-column" [formGroup]="formGroup">
    <mat-form-field class="w-100">
      <mat-label>{{ 'PROFILE.old_password' | translate }}</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error *ngIf="formGroup.get('password').hasError">
        {{ getErrorMessage('password') | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{ 'PROFILE.new_password' | translate }}</mat-label>
      <input type="password" matInput formControlName="newPassword" />
      <mat-error *ngIf="formGroup.get('newPassword').hasError">
        {{ getErrorMessage('newPassword') | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>{{ 'PROFILE.confirm_password' | translate }}</mat-label>
      <input type="password" matInput formControlName="confirmPassword" />
      <mat-error *ngIf="formGroup.get('confirmPassword').hasError">
        {{ getErrorMessage('confirmPassword') | translate }}
      </mat-error>
    </mat-form-field>
    <div class="w-100">
      <ion-button fill="solid" color="secondary" class="mt-1" expand="block" type="submit">
        {{ 'AUTH.CHANGE_PASSWORD.submit' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
