<div class="inner-content p-3 pb-5">
  <div class="w-100 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <ion-icon
        name="checkmark-circle-outline"
        color="secondary"
        class="mr-1"
      ></ion-icon>
      <ion-text color="secondary">{{
        'DESIGN.DETAIL.ADD_TO_CART.add_to_cart_successfully' | translate
      }}</ion-text>
    </div>
    <ion-icon
      name="close"
      color="secondary"
      class="zoom-2"
      (click)="close()"
    ></ion-icon>
  </div>
  <ion-item class="w-100 my-3" color="light" lines="none">
    <ion-thumbnail class="mr-2">
      <img
        [src]="
          design.thumbnail ||
          'assets/images/construction-company-placeholder.png'
        "
        [class.border]="!design.thumbnail"
      />
    </ion-thumbnail>
    <div class="d-flex flex-column justify-content-between h-100 p-1">
      <h5 class="bg-transparent text-wrap truncate mt-0">
        <ion-text color="dark">
          <b>
            <ng-container *ngIf="design.designType.toString() == 'WHOLE_HOUSE'">
              {{ design.projectName }}
            </ng-container>
            <ng-container *ngIf="design.designType.toString() == 'ROOM'">
              {{
                'DESIGN.FILTERS.ROOM_TYPE.' +
                  design.room.roomType.toLowerCase() | translate
              }}
            </ng-container>
            - {{ design.registeredDesignNumber }}</b
          >
        </ion-text>
      </h5>
      <ion-text color="dark" class="font-size-normal">
        <b>{{ 'DESIGN.DETAIL.design_price' | translate }} </b>
        {{ design.price | number: '1.0-4' }}
        đ
      </ion-text>
    </div>
  </ion-item>
  <div class="w-100">
    <ion-button
      fill="solid"
      color="secondary"
      type="button"
      expand="block"
      routerLink="/design/cart"
      (click)="close()"
    >
      {{ 'DESIGN.DETAIL.ADD_TO_CART.go_to_cart' | translate }}
    </ion-button>
  </div>
</div>
