<loa-mobile-back-bar
  [backTo]="'/menu'"
  [title]="'PURCHASE_DESIGN.title' | translate"
></loa-mobile-back-bar>
<ion-content class="container-fluid">
  <mat-list>
    <mat-list-item class="list-item-img">
      <img
        class="img-border-radius mr-3"
        src="assets/images/1280x580.png"
        alt="Thumbnail"
      />
      <div>
        Project name [Design]
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="w-50 pr-2">
        <button mat-stroked-button class="w-100 text-center" color="primary">
          {{ 'PURCHASE_DESIGN.btn_design_edit' | translate }}
        </button>
      </div>
      <div class="w-50 pl-2">
        <button mat-stroked-button class="w-100 text-center" color="primary">
          {{ 'PURCHASE_DESIGN.btn_find_company' | translate }}
        </button>
      </div>
    </mat-list-item>
    <mat-divider class="mb-3"></mat-divider>
    <mat-list-item class="list-item-img">
      <img
        class="img-border-radius mr-3"
        src="assets/images/1280x580.png"
        alt="Thumbnail"
      />
      <div>
        Project name [Design]
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="w-50 pr-2">
        <button mat-stroked-button class="w-100 text-center" color="primary">
          {{ 'PURCHASE_DESIGN.btn_design_edit' | translate }}
        </button>
      </div>
      <div class="w-50 pl-2">
        <button mat-stroked-button class="w-100 text-center" color="primary">
          {{ 'PURCHASE_DESIGN.btn_find_company' | translate }}
        </button>
      </div>
    </mat-list-item>
    <mat-divider class="mb-3"></mat-divider>
    <mat-list-item class="list-item-img">
      <img
        class="img-border-radius mr-3"
        src="assets/images/1280x580.png"
        alt="Thumbnail"
      />
      <div>
        Project name [Design]
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="w-50 pr-2">
        <button mat-stroked-button class="w-100 text-center" color="primary">
          {{ 'PURCHASE_DESIGN.btn_design_edit' | translate }}
        </button>
      </div>
      <div class="w-50 pl-2">
        <button mat-stroked-button class="w-100 text-center" color="primary">
          {{ 'PURCHASE_DESIGN.btn_find_company' | translate }}
        </button>
      </div>
    </mat-list-item>
    <mat-divider class="mb-3"></mat-divider>
  </mat-list>
</ion-content>
