mat-toolbar {
  z-index: 999;
  position: sticky;
  top: 0;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  object-fit: cover;
}
