section {
  padding: 4rem 0;
  max-width: 24rem;
  margin: 0 auto;
}

input {
  height: 1.5rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 16px;
  border: 1px solid var(--color);
  border-radius: 0.25rem;
  color: var(--color);
  background-color: var(--bg-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
}

.progress-wrapper {
  margin-top: 0.25rem;
}

progress {
  width: 8rem;
  margin-right: 0.5rem;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: #92d5a190;
  border-radius: 0.25rem;
}
