<div class="main-container container-fluid py-2 d-flex flex-column">
  <h1 class="d-flex align-items-center ml-3 mt-2 mb-3 mat-display-1">
    <mat-icon style="zoom: 1.5">screen_share</mat-icon>
    <span class="ml-3">Display</span>
  </h1>
  <app-create-button></app-create-button>
  <ng-container *ngIf="display$ | async as displayResponse"
    ><div class="p-3 table-wrapper">
      <table class="table table-hover w-100">
        <thead>
          <tr class="bg-dark text-light text-center">
            <th scope="col">Display ID</th>
            <th scope="col">Screen ID</th>
            <th scope="col">Template Name</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let display of displayResponse.result">
            <th scope="row">{{ display.id }}</th>
            <td>{{ display.screenId }}</td>
            <td>{{ display.templateName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mr-auto mt-1">
      <ul class="pagination">
        <li class="page-item" [class.invisible]="!displayResponse.previousPage">
          <a
            class="btn page-link mr-1"
            (click)="loadDisplays(pagingOptions.currentPage - 1)"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let _ of getPagingArray(displayResponse.count); index as i"
          [class.active]="i + 1 === pagingOptions.currentPage"
        >
          <a class="btn page-link mr-1" (click)="loadDisplays(i + 1)">{{
            i + 1
          }}</a>
        </li>
        <li class="page-item" [class.invisible]="!displayResponse.nextPage">
          <a
            class="btn page-link mr-1"
            (click)="loadDisplays(pagingOptions.currentPage + 1)"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div></ng-container
  >
</div>
