loa-mobile-back-bar ion-icon {
  zoom: 0.8;
}
ion-content.container {
  --padding-top: 0;
  --padding-start: 0rem;
  --padding-end: 0rem;
}

.container {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 50px !important;
  overflow-y: hidden;
}

.img-wrapper-one {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-wrapper-two {
  width: 100%;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-wrapper-three {
  height: 150px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-wrapper-bookmark {
  height: 160px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0rem;
  }
}
#filters {
  overflow-x: scroll;
  white-space: nowrap;
}

.bookmark {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.75);
}

.bookmark-left {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.75);
}

.bookmark-right {
  position: absolute;
  top: 0.5rem;
  right: 1.75rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.75);
}
#btn-filter {
  min-width: 4rem;
}
.overflow-x-hidden {
  overflow-x: hidden;
}

:host ::ng-deep svg {
  fill: #a0a0a0;
}
.btn-write-post {
  width: 50vw;
  background-color: #a0c1c7;
  position: fixed;
  bottom: 0px;
  border-radius: 0rem !important;
  color: #ffffff;
  height: 50px;
  z-index: 100;
  border: solid white;
  border-width: 0 1px 0 0;
}
.btn-my-bookmark {
  width: 50vw;
  background-color: #a0c1c7;
  position: fixed;
  bottom: 0px;
  border-radius: 0rem !important;
  color: #ffffff;
  height: 50px;
  z-index: 100;
  left: 50vw;
  border: solid white;
  border-width: 0 0 0 1px;
}
h4.name-user {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0rem !important;
}
span.title-member {
  font-size: 12px;
}

.padding-l-r-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.padding-r-8 {
  padding-right: 0.5rem !important;
}

.bookmark-interior {
  background-color: #a0a0a0;
  position: absolute;
  right: 2.5rem;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.btn-more-vert {
  background-color: transparent;
  position: absolute;
  right: 2.5rem;
  top: 0.5rem;
}
.btn-delete-post {
  background-color: #535252;
  color: #ffffff;
  text-decoration: none;
}

a.btn-delete-post:hover {
  text-decoration: none;
}

.btn-update-post {
  text-decoration: none;
}

a.btn-update-post:hover {
  text-decoration: none;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

:host ::ng-depp .mat-tab-body-content {
  overflow-x: hidden !important;
}
.search-results {
  height: calc(100vh - 5rem - 48px - 50px - 12px - 56px - 12px - 18px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: inherit !important;
}
.btn-view-more {
  font-size: 13px !important;
  font-weight: bold;
  border: solid #8d8d8d;
  border-width: 0 0 3px 0;
  border-radius: 0rem;
  height: 2.75rem;
  width: 70px !important;
}
.h-60 {
  height: 3.75rem !important;
}
:host ::ng-deep .mat-tab-label {
  background-color: #ffffff;
  border: 1px solid #8d8d8d;
}
:host ::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: #8d8d8d;
  border: 0rem;
  color: #ffffff;
}
:host ::ng-deep .mat-ink-bar {
  display: none !important;
}
:host ::ng-deep .mat-tab-label {
  width: calc(50vw - 16px) !important;
}
.input-search {
  height: 38px !important;
  padding: 0 36px;
}
.position-search {
  position: absolute;
  left: 16px;
  top: -1px;
}
.line-no-image {
  height: 0.5px;
  background-color: #8d8d8d;
  margin-top: 16px;
}
h5.number-like {
  font-size: 11px !important;
  color: #535252;
}
.border-share {
  border: solid #8d8d8d;
  border-width: 1px 0 0 0;
  margin: 0rem 1rem;
}

.content-post {
  margin: 20px 0px;
  padding: 10px 0px 20px 0px;
  background-color: #f6f5f4;
}
.scroll-bookmark {
  height: calc(100vh - 18px - 5rem - 12px - 12px - 18px);
  overflow-x: hidden;
}
ion-toolbar.footer {
  bottom: -4px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-inline-start: 0;
  --padding-inline-end: 0;
  --padding-top: 0;
  --padding-inline-top: 0;
  ion-button {
    --border-radius: 2rem;
    // --padding-start: 1rem;
    // --padding-end: 1rem;
    margin: 0rem;
    height: 50px !important;
    span {
      font-size: 1rem;
    }
  }
}
.bookmark-no-image {
  z-index: 10;
}
.bookmark-image {
  position: absolute;
  top: 12px;
  right: 28px;
  z-index: 10;
}
.bookmark-no-image ion-icon {
  zoom: 2.3;
}
.bookmark-image ion-icon {
  zoom: 2.3;
}
.position-absolute-home {
  position: absolute;
  left: 56px;
}
.bonus-image {
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  top: 63%;
  left: 78%;
  transform: translate(-85%, -80%);
  color: #3a3937;
}
.opacity-image {
  opacity: 0.75;
}
:host ::ng-deep .mat-form-field-outline {
  background-color: #ffffff;
}
#my-post-interior .like-icon ion-icon {
  width: 19px;
  height: 19px;
  min-width: 30px;
}
.text-style-wrap {
  white-space: pre-wrap;
}
.share-icon ion-icon {
  zoom: 1.85;
}
:host ::ng-deep #mat-tab-label-0-0.mat-tab-label {
  border-radius: 5px 0px 0px 5px !important;
}
:host ::ng-deep #mat-tab-label-0-1.mat-tab-label {
  border-radius: 0px 5px 5px 0px !important;
}
.padding-right-bookmark {
  padding-right: 5px !important;
}
.padding-left-bookmark {
  padding-left: 5px !important;
}
