<form [formGroup]="formGroup" class="px-3">
  <small
    ><mat-icon style="zoom: 0.5;">information</mat-icon>
    {{ 'DESIGN.FILTERS.please_fill_in_your_infor' | translate }}</small
  >

  <div class="border-bottom">
    <div class="flex-center flex-column text-center mt-3">
      <mat-form-field>
        <mat-label>{{ 'DESIGN.FILTERS.contact_name' | translate }}</mat-label>
        <input
          matInput
          formControlName="name"
          autocomplete="name"
          type="text"
          placeholder="Nguyen Minh Vu"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'DESIGN.FILTERS.email' | translate }}</mat-label>
        <input
          matInput
          autocomplete="email"
          formControlName="email"
          placeholder="example@example.com"
        />
        <mat-error>
          {{ 'sasdasd' }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'DESIGN.FILTERS.phone' | translate }}</mat-label>
        <input
          type="number"
          matInput
          autocomplete="phone"
          formControlName="phone"
          placeholder="0919975502"
        />
      </mat-form-field>
    </div>
    <section id="address" class="pb-3 border-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Address</h5>
        <small>Use the address of selected design</small>
      </div>
      <div class="flex-center flex-column text-center mt-3">
        <mat-form-field>
          <mat-label>Building (Apartment/ Villa/Office) </mat-label>
          <input
            matInput
            formControlName="building"
            placeholder="Nguyen Minh Vu"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Room number / House number</mat-label>
          <input
            matInput
            formControlName="roomNumber"
            placeholder="Nguyen Minh Vu"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput formControlName="street" placeholder="ABC Street" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>District</mat-label>
          <input
            matInput
            formControlName="district"
            placeholder="Nguyen Minh Vu"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>City </mat-label>
          <input matInput formControlName="city" placeholder="Nguyen Minh Vu" />
        </mat-form-field>
      </div>
    </section>
  </div>
</form>
